@import url(https://fonts.google.com/specimen/Outfit);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,600;1,9..144,100&family=Outfit:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: hsl(217, 58%, 86%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.box{
    width: 50px; 
    background: white;
    padding: 20px 300px 20px 20px;
    border-radius: 10px;
    display: flex;
}
.box img {
    width: 330px;
    height: 330px;
    border-radius: 10px 10px 10px 10px;
}
h1{
    
    padding-top: 20px;
    text-align: center;
    word-spacing: 3px;
    font-size: 20px;
    font-family:'Outfit', sans-serif;
    
}
h2{
    padding-bottom: 10px;
    text-align: center;
    word-spacing: 3px;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    margin: 5px;
    
    


}
p{
    font-size: 15px;
    color:  hsl(228, 12%, 48%);
    font-weight: 500;
    word-spacing: 3px;
    letter-spacing: 0px;
    text-align: center;
}
p1{
    margin: 20px;
    font-size: 15px;
    color:  hsl(228, 12%, 48%);
    font-weight: 500;
    padding-left: 11%;

   
}
p2{
    padding-left: 40%;
    font-size: 15px;
    color:  hsl(228, 12%, 48%);
    font-weight: 500;
    word-spacing: 3px;
    
}